<IfModule mod_rewrite.c>
    Options +FollowSymLinks -Indexes
    RewriteEngine On

    # Arahkan semua permintaan ke direktori public/
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>

# Blokir akses ke berkas sensitif jika root aplikasi terlayani langsung
<FilesMatch "^\.(env|git|editorconfig|json|lock|yml|yaml)|artisan$">
    Require all denied
</FilesMatch>
